go 1.23.0

use (
	.
	./provider/clickhouse
	./provider/etcd
	./provider/hmacprovider
	./provider/htpasswd
	./provider/httpserver
	./provider/jwtprovider
	./provider/kafka
	./provider/metrics
	./provider/mqtt
	./provider/nats
	./provider/pgsql
	./provider/redis
	./provider/s3
	./provider/smtp
)
